.row {
    height: 100vh;
    width: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(201, 198, 198);
}

.question {
    height: 50%;
    overflow-y: hidden;
}

* {
    overflow-x: hidden;
}

.question > h1 {
    overflow: hidden;
}

.row > h1 {
    overflow: hidden;
}